#social_links{
    list-style: none;
    gap: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
}
footer{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fcb900;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}
footer ul a{
    font-size: 14px;
    font-weight: 600;
    color: rgb(60, 60, 60);
}
footer i{
    transition: transform 300ms ease-in-out;
}
footer .grow{
    transform: scale(2,2);
}
.grow::after{
    /* content:'test'; */
    position: absolute;
    top: -50px;
    left:0;
    right:0;
}