main{
    margin: 0 30px;
    padding-bottom: 100px;
}
h1{
    font-size: 40px;
}
h1,h2,h3,h4{
    color: #642b68;
    font-weight: 600;
}
h4 span{
    color: black;
}
@media screen and (min-width:1200px){
    main{
        margin: 0 150px;
    }
}