button{
    background-color: #642b68;
    padding: 10px 50px;
    color: white;
    border: 1px solid gainsboro;
    border-radius: 30px;
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column-reverse;
}
main div{
    max-width: 800px;
    margin: auto;
    text-align: center;
}
img{
    height: 50vh;
    object-fit: contain;
}

@media screen and (min-width:1200px){
    main{
        justify-content: center;
        align-items: center;
        /* column-gap: 30px; */
        flex-direction: row; 
    }
    img{
        height: calc(100vh - 250px);
        background-color: white;
        object-fit:contain;
        aspect-ratio: 1;
        /* border-radius: 50%;
        background-color: #fcb900;
        background-color: #fcb9004d; */
        box-sizing: border-box;
        margin: 50px 0;
    }
    main div{
        width: 30%;
        max-width: 380px;
        margin: 0;
        text-align: start;
    }
    h1{
        font-size: 50px;
        font-weight: 500;
    }
}