main{
    margin: 0 7.5%;
}
main ul h2{
    margin: 0 0 20px 0;
}
main > ul{
    display: flex;
    flex-wrap:wrap;
    /* flex-wrap: wrap; */
    gap: 20px;
    list-style: none;
    /* grid-template-columns: 1fr 1fr 1fr; */
    padding:0;
    justify-content: center;
}
main >ul >li:nth-of-type(5){
    justify-self: start;
}
main > ul >li{
    min-width: 350px;
    flex-basis: 0;
    background-color:cornsilk;
    padding: 15px;
}